---
layout: 'base.njk'
---

<div class="container">

    <a href="javascript:history.back()" class="back__btn--txt"><i class="fa-solid fa-arrow-left-long" id="back__btn"></i>Go back</a>

    <div class="book__details--title">
        <h1 class="book__title">{{ title }}</h1>
    </div>

    <div class="book__review">

        <div class="book__cover">
            <img src="{{ image }}" alt="{{ altImg }}" class="cover__img">
        </div>

        <div class="book__details">
            <p class="book__author">Author: {{ author }}</p>
            <p class="book__rating">Rating: {{ rating }}/5</p>
            <p class="book__date">Reviewed on: {{ date | articleDate }}</p>
        </div>   

    </div>

        <div class="paragraph__flow">
            {{ content | safe }}
        </div> 
    
        <h1 class="page__title" id="title--center">Comments</h1>
    {# <!-- Remarkbox - Your readers want to communicate with you -->
        <div id="remarkbox-div">
        <noscript>
            <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
        </noscript>
        </div>
        <script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
        <script>
        var rb_owner_key = "8b33d85b-272e-11ee-a234-83aad5f5c937";
        var thread_uri = window.location.href;
        var thread_title = window.document.title;
        var thread_fragment = window.location.hash;

        // rb owner was here.
        var rb_src = "https://my.remarkbox.com/embed" + 
            "?rb_owner_key=" + rb_owner_key +
            "&thread_title=" + encodeURI(thread_title) +
            "&thread_uri=" + encodeURIComponent(thread_uri) + 
            thread_fragment;

        function create_remarkbox_iframe() {
            var ifrm = document.createElement("iframe");
            ifrm.setAttribute("id", "remarkbox-iframe");
            ifrm.setAttribute("scrolling", "no");
            ifrm.setAttribute("src", rb_src);
            ifrm.setAttribute("frameborder", "0");
            ifrm.setAttribute("tabindex", "0");
            ifrm.setAttribute("title", "Remarkbox");
            ifrm.style.width = "100%";
            document.getElementById("remarkbox-div").appendChild(ifrm);
        }
        create_remarkbox_iframe();
        iFrameResize(
            {
            checkOrigin: ["https://my.remarkbox.com"],
            inPageLinks: true,
            initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
            },
            document.getElementById("remarkbox-iframe")
        );
        </script> #}

        <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://pjsbooknook.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>