---
layout: 'base.njk'
---

<div class="container">

    <a href="javascript:history.back()" class="back__btn--txt"><i class="fa-solid fa-arrow-left-long" id="back__btn"></i></a>

    <div class="book__details--title">
        <h1 class="book__title">{{ title }}</h1>
    </div>

    <div class="book__review">

        <div class="book__cover">
            <img src="{{ image }}" alt="{{ altImg }}" class="cover__img">
        </div>

        <div class="book__details">
            <p class="book__author"><i class="fa-solid fa-pencil" id="author__icon"></i>{{ author }}</p>
            <p class="book__rating"><i class="fa-solid fa-star" id="rating__icon"></i>{{ rating }}/5</p>
            <p class="book__date"><i class="fa-regular fa-calendar-days" id="calendar__icon"></i>{{ date | articleDate }}</p>
        </div>   

    </div>

        <div class="paragraph__flow">
            {{ content | safe }}
        </div> 
    
    <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
    <hyvor-talk-comments website-id="9184" page-id=""></hyvor-talk-comments>
</div>