      <img src="/images/Flower-Footer(1).webp" alt="" class="above__footer">

      <footer class="primary__footer">
          <p>Quick links:</p>
          <ul class="social__list">
              <li class="social__item">
                  <a href="https://twitter.com/parker_hurd">Twitter</a>
              </li>
              <li class="social__item">
                  <a href="https://www.goodreads.com/user/show/111614881-parkerhurd?ref=ru_lihp_up_rs_0_mclk-up12421357097">Goodreads</a>
              </li>
          </ul>
          <p>© 2023 Parker Jo Hurd</p>
      </footer>