      <img src="/images/Flower-Footer(1).webp" alt="" class="above__footer">

      <footer class="primary__footer">
          <p>Find me here as well:</p>
          <ul class="social__list">
              <li class="social__item">
                  <a href="https://twitter.com/parker_hurd" target="_blank"><i class="fa-brands fa-square-twitter fa-xl"></i></a>
              </li>
              <li class="social__item">
                  <a href="https://www.goodreads.com/user/show/111614881-parkerhurd?ref=ru_lihp_up_rs_0_mclk-up12421357097" target="_blank"><i class="fa-brands fa-goodreads fa-xl"></i></a>
              </li>
          </ul>
          <p>© 2023 Parker Jo Hurd</p>
      </footer>