---
title: About Parker Jo Hurd
layout: 'base.njk'
---

    <section class="about">
        <div class="container">

            <h1 class="page__title" id="title--center">About Me</h1>

            <div class="about--img">
                <img src="" alt="Abstract Animation" class="about__img">
            </div>

            <div class="about__text">
                <p class="description__text">Hey there! I'm Parker Jo Hurd, a whimsical dreamer from the enchanting town of Kingsport, TN. Right now, I'm diving headfirst into the incredible journey of higher education at ETSU in Johnson City. As I pursue my passion for helping others, my sights are set on becoming an Occupational Therapist, making a positive impact in people's lives.</p>

                <p class="description__text">When I'm seeking moments of tranquility, you'll often find me curled up in a cozy nook, surrounded by a treasure trove of books. Reading is my escape, my gateway to magical realms and captivating stories. Within those pages, I discover new perspectives, expand my horizons, and get lost in the beauty of literature. It's a journey of the mind that nourishes my soul.</p>

                <p class="description__text">Speaking of inspiration, my home is a bustling sanctuary of feline enchantment. Sharing my indoor and outdoor space with twelve lovable cats has transformed my surroundings into a whimsical wonderland. Their playful antics and unconditional love brighten every moment of my life, creating a joyful haven where laughter and purrs mingle harmoniously.</p>

                <p class="description__text">So come, join me on this adventure as I weave the threads of my dreams, embracing the artistic, feline-filled, book-devouring chapters of my life. Together, let's paint the canvas of our existence with vibrant colors and unforgettable experiences!</p>
            </div>
        </div>
    </section>
