---
title: My Bookshelf
layout: 'base.njk'
---
    <section class="main">
        <div class="container">
            <h1 class="page__title" id="title--center">My Bookshelf</h1>

        <div class="blogs">

            {%- for post in collections.post | reverse -%}
                {% include 'article-snippet.njk' %}    
            {%- endfor -%}

        </div>
    </section>