---
title: My Bookshelf
layout: 'base.njk'
pagination:
  data: collections.post
  size: 4
  alias: posts
  reverse: true
---
    <section class="main">
        <div class="container">
            <h1 class="page__title" id="title--center">My Bookshelf</h1>

        <div class="blogs">

            {%- for post in posts -%}
                {% include 'article-snippet.njk' %}    
            {%- endfor -%}

        </div>

        <div class="pagination">
            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="pagination__button"><i class="fa-solid fa-angle-left"></i></a>{% endif %}
            {% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="pagination__button" id="next"><i class="fa-solid fa-angle-right"></i></a>{% endif %}
        </div>

    </section>