---
title: My Bookshelf
layout: 'base.njk'
pagination:
  data: collections.post
  size: 4
  alias: posts
---
    <section class="main">
        <div class="container">
            <h1 class="page__title" id="title--center">My Bookshelf</h1>

        <div class="blogs">

            {%- for post in posts -%}
                {% include 'article-snippet.njk' %}    
            {%- endfor -%}

        </div>

        {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous page</a>{% endif %}
 | 
        {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next page</a>{% endif %}
    
    </section>