#ACOTAR {
    background-image: url("/images/ACOTAR.webp");
    background-size: cover;

    color: #fff;
}

#AGGGTM {
    background-image: url("/images/#AGGGTM.webp");
    background-size: cover;

    color: #fff;
}

#TLHYPO {
    background-image: url("/images/#TLHYPO.webp");
    background-size: cover;

    color: #fff;
}

#FBAA {
    background-image: url("/images/#FBAA.webp");
    background-size: cover;

    color: #fff;
}

#TRM-WCS {
    background-image: url("/images/TRM-WCS.webp");
    background-size: cover;

    color: #fff;
}

#TSHOEH {
    background-image: url("/images/TSHOEH.webp");
    background-size: cover;

    color: #fff;
}

/* A ​Court of Silver Flames */
#ACOSF {
    background-image: url("/images/ACOSF.webp");
    background-size: cover;

    color: #fff;
}

/* Always Only You */
#AOY {
    background-image: url("/images/AOY.webp");
    background-size: cover;

    color: #fff;
}

/* A Court of Frost and Starlight */
#ACOFAS {
    background-image: url("/images/ACOFAS.webp");
    background-size: cover;

    color: #fff;
}

/* Twisted Love */ 
#TL {
    background-image: url("/images/TL.webp");
    background-size: cover;

    color: #fff;
}

/* Court of the Vampire Queen */
#COTVQ {
    background-image: url("/images/COTVQ.webp");
    background-size: cover;

    color: #fff;
}

/* Hush, Hush */
#HH {
    background-image: url("/images/HH.webp");
    background-size: cover;

    color: #fff;
}

/* Shatter Me */
#SM {
    background-image: url("/images/SM.webp");
    background-size: cover;

    color: #fff;
}