---
title: PJ's Book Nook
layout: 'base.njk'
---
        <style type="text/css" media="screen">
    .gr_custom_container_1689795952 {
        /* customize your Goodreads widget container here*/
        border: 1px solid gray;
        border-radius:10px;
        padding: 10px 5px 10px 5px;
        background-color: #FFFFFF;
        color: #000000;
        width: 300px
    }
    .gr_custom_header_1689795952 {
        /* customize your Goodreads header here*/
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 120%
    }
    .gr_custom_each_container_1689795952 {
        /* customize each individual book container here */
        width: 100%;
        clear: both;
        margin-bottom: 10px;
        overflow: auto;
        padding-bottom: 4px;
        border-bottom: 1px solid #aaa;
    }
    .gr_custom_book_container_1689795952 {
        /* customize your book covers here */
        overflow: hidden;
        height: 60px;
        float: left;
        margin-right: 4px;
        width: 39px;
    }
    .gr_custom_author_1689795952 {
        /* customize your author names here */
        font-size: 10px;
    }
    .gr_custom_tags_1689795952 {
        /* customize your tags here */
        font-size: 10px;
        color: gray;
    }
    .gr_custom_rating_1689795952 {
        /* customize your rating stars here */
        float: right;
    }
    </style>

    <!-- Back to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-circle-arrow-up fa-2xl" style="color: #84a98c;"></i></button> 

   
    <section class="main">
        <div class="container">

            <div class="home__hero">

                <div class="hero__left">
                    <h1 class="page__title">Hi! Welcome to my Book Nook</h1>
                    <a href="/bookshelf/" class="home__button">My Bookshelf</a>
                </div>
                
                <div class="hero__right">
                    <p class="home__text">Here you'll be able to read my book reviews, see my recomendations, and more!</p>
                </div
                
            </div>    
            </div>

            <h1 class="page__title" id="title--center"><span class="title__stars">✨</span> Favorite Reads <span class="title__stars">✨</span></h1>

            <div class="blogs">

                {%- for post in collections.favorites | reverse -%}
                    {% include 'article-snippet.njk' %}    
                {%- endfor -%}

            </div>

            <h1 class="page__title" id="title--center">Goodreads stuff</h1>

            <div class="goodreads__section"></div>

            <!-- Remarkbox - Your readers want to communicate with you -->
<div id="remarkbox-div">
  <noscript>
    <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
  </noscript>
</div>
<script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
<script>
  var rb_owner_key = "8b33d85b-272e-11ee-a234-83aad5f5c937";
  var thread_uri = window.location.href;
  var thread_title = window.document.title;
  var thread_fragment = window.location.hash;

  // rb owner was here.
  var rb_src = "https://my.remarkbox.com/embed" + 
      "?rb_owner_key=" + rb_owner_key +
      "&thread_title=" + encodeURI(thread_title) +
      "&thread_uri=" + encodeURIComponent(thread_uri) + 
      thread_fragment;

  function create_remarkbox_iframe() {
    var ifrm = document.createElement("iframe");
    ifrm.setAttribute("id", "remarkbox-iframe");
    ifrm.setAttribute("scrolling", "no");
    ifrm.setAttribute("src", rb_src);
    ifrm.setAttribute("frameborder", "0");
    ifrm.setAttribute("tabindex", "0");
    ifrm.setAttribute("title", "Remarkbox");
    ifrm.style.width = "100%";
    document.getElementById("remarkbox-div").appendChild(ifrm);
  }
  create_remarkbox_iframe();
  iFrameResize(
    {
      checkOrigin: ["https://my.remarkbox.com"],
      inPageLinks: true,
      initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
    },
    document.getElementById("remarkbox-iframe")
  );
</script>

        </div>


    
    </section>

